.data-list__item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: uppercase;
}

.data-list__item:not(:last-child) {
  border-bottom: 1px solid #343438;
}

.data-list__item-label {
  color: #8d8d8d;
}

.data-list__item-text {
  color: #d1d1d1;
  text-align: right;
}
