.App {
  max-width: 1120px;
  margin: 16px auto;
}

.characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.characters-item {
  background-color: #282727;
  padding: 20px;
  border-radius: 4px;
}

.button {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}
