.dialog-header {
  display: flex;
  justify-content: space-between;
}

.close-button {
  align-items: center;
  align-self: flex-start;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
}
